/* GLOBAL ou GERAL */

* {
    /* corrigindo o comportamento padrao css*/
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    /* fonte */
    font-family: 'Roboto', sans-serif;

    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000cc;
}

/* TITULOS */
header h1, main h2 {
    margin-bottom: 70px;
}

main h2 span {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;
    color: #ffffff;
    font-size: 18px;

}

/* ALINHAMENTO, ESPAÇAMENTOS LARGURAS E ALTURAS */
/*ESTRUTURA*/
header, main, footer {
    /* ALINHAMENTO DE TEXTO */
    text-align: center;
}

header, .form, main {
    /* espaçamentos com margin*/
    margin: 0 auto 70px;

    /* limites dos elementos da pagina*/
    width: 90%;
    max-width: 500px;
}

/* HEADER */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    background-color: #ff4f4f;
    color: white;

    font-weight: bold;
}

.logo {
    width: 120px;
    margin: 70px 0;
}

header p {
    font-size: 14px;
}

/* FORM */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;

    align-items: center;

    background-color: #ff4f4f;

    padding: 16px 64px;

    border-radius: 6px;
}

form input,
form button {

    /* largura */
    width: 100%;

    /* espaçamentos */
    margin-bottom: 4px;

    /* preenchimento */
    padding: 8px 16px;

    /* bordas */
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}

form input {
    background-color: transparent;
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
}

/* MAIN */
main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;

    width: 40px;
    height: 40px;

    position: absolute;

    /* fazer a gotinha */
    border-radius: 50%;
    border-top-right-radius: 0;

    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    margin-bottom: 55px;
    font-size: 14px;
}

/* footer */
footer {
    margin-top: auto;

    padding: 16px;

    border: 1px solid #eee;
}

/* funcionalidade com javascript */

section.form {
    transition: all 500ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}